extends ./layout.pug
block content
    div.row
        div.col
            form(action="/who" method="POST" id="whoForm")
                each user in users
                    div.form-check.form-group
                        input(class="form-check-input" type="checkbox" name="participants[]" value=user._id id="user"+user._id)
                        label(class="form-check-label" for="user"+user._id)=user.name     
                input(type="submit", value="Enviar" class="btn btn-info")
            h1 hoy calienta ...              
