doctype html
html(lang="es")
    head
        title Team
        meta(charset="utf-8")
        link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css")
        link(rel="stylesheet", href="css/layout.css")
    body
        ul( class="nav")
            li(class="nav-item")
                a(class="nav-link active" href="") Prros
        block content