doctype html
html(lang="es")
    head
        title Team
        meta(charset="utf-8")
        link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css")
        link(rel="stylesheet", href="css/layout.css")
        script(src="https://code.jquery.com/jquery-3.3.1.min.js")
        script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js")
        block extra

    body
    nav.navbar.navbar-dark.bg-dark.navbar-expand-lg
        a(class="navbar-brand" href="/")
            img(src="img/space.png" width="30" height="26" class="d-inline-block align-top" alt="")
            |         Team
        button(class="navbar-toggler" type="button" data-toggle="collapse" data-target="#teamNav" aria-controls="teamNav" aria-expanded="false" aria-label="Toggle navigation")
            span.navbar-toggler-icon
        div(class="collapse navbar-collapse" id="teamNav")
            ul.navbar-nav.mr-auto
                li.nav-item
                    a(class="nav-link" href="add") Agregar
                li.nav-item
                    a(class="nav-link" href="user") Usuarios
                li.nav-item
                    a(class="nav-link" href="#") Random
            button(class="btn btn-outline-info" type="button") Administrar
    div.container-fluid
        block content